.footer {
    padding: 24px 0;
    background-color: #33323D;
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__logo-link:hover {
        opacity: 0.8;
    }
    .navbar--footer__navbar {
        margin-left: 49px;
    }
    .navbar__item-link--footer__navitem-link {
        color: white;
        &:hover {
            opacity: 0.8;
        }
    }
    &__social-media {
        text-decoration: none;
        &:hover {
            opacity: 0.8;
        }
    }
    &__social-media + &__social-media {
        margin-left: 16px;
    }
}

@media only screen and (max-width:900px) {
    .footer {
        &__container {
            padding: 0 40px;
        }
    }
}

@media only screen and (max-width:600px) {
    .footer {
        padding: 56px 0;
        &__container {
            flex-direction: column;
            padding: 0 32px;
        }
        &__logo {
            margin-bottom: 40px;
        }
        &__wrapper {
            flex-direction: column;
        }
        .navbar--footer__navbar {
            margin: 0;
            display: block;
            margin-bottom: 40px;
        }
        .navbar__list--footer__navlist {
            flex-direction: column;
            align-items: center;
        }
        .navbar__list-item--footer-navitem + .navbar__list-item--footer-navitem {
            margin-left: 0;
            margin-top: 32px;
        }
    }
}